<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime Chess</title>
    <Link
      rel="icon"
      type="image/x-icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAPFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACHr/7WAAAAFHRSTlMAJDx65P/XCpyITzFaqhfva8ZHum3csOAAAADrSURBVHgBbZEHEsMgDARFOXrP/9+a4gIi453KLDrOMnGElIIeURoHRtl/5QDjQ5TJG8ARRwJ5BpYMyOUCqiCGqGhrzhBHEHUkOrCo+/OCfvbMyijcaUU/oI8QeB4Jc/dIxyBzCTNG/0aRl/NYNRUsCYTpOljviEEJYj4HgK0Ojdo8y7HvHZ4S/5AYo7RTuk2+ACg+GSHXioE4XUE6LlwAmvU5Ik2doS9iGH3cCFeo5y6e66g4/80gTq3nnSMuF+Lku2dDpmKJ49cbCmZ3GY7XRlunUfduxQBuCGvF8BU60s7ouOiDHoippcGHPjjuB+a9coujAAAAAElFTkSuQmCC"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <div id="connectionStatus" class="status-message">
        Connecting to a room...
      </div>
      <section class="chessboard"></section>
    </main>

    <!-- Client side javascript -->
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/script.js"></script>
  </body>
</html>
